<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/site")
</head>
<body>
    <div class="page">
        <div id="header">
            <div id="title">
                <h1>efVideoTube</h1>
            </div>
            <div id="logindisplay">
                @(User == null ? string.Empty : User.Identity.Name)
            </div>
            <div id="menucontainer">
                <ul id="menu">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Settings", "Settings", "Home")</li>
                </ul>
            </div>
        </div>
        <div id="main">
            @RenderBody()
        </div>
        <div id="footer">
        </div>
    </div>

    @Scripts.Render("~/js/site")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var domain = '@Request.Url.Host';
        var path = '@Request.ApplicationPath';
    </script>
</body>
</html>
