@using System.Configuration;

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/css/player")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/js/site")
    @RenderSection("scripts", required: false)
    <script type="text/javascript">
        var domain = '@Request.Url.Host';
        var path = '@Request.ApplicationPath';
    </script>
</body>
</html>

