@using efVideoTube.Models;
@model Html5VideoModel
@{
    ViewBag.Title = Model.Title;
    string defaultLang = SubtitleLanguageParser.DefaultLanguage;
    if (Model.SubtitleLanguages.Count == 1) {
        defaultLang = Model.SubtitleLanguages.Single().Value;
    }
}

<div class="playerContainer">
    <video controls autoplay src="@Model.Url">
    @foreach (var subLang in Model.SubtitleLanguages) {
        <track kind="subtitles" src="@Url.Action(Global.ActionName.Subtitle, subLang.Key.GetRouteValues())"
            srclang="@subLang.Value" label="@subLang.Value" @(subLang.Value == defaultLang ? "default" : string.Empty) />
    }
    </video>
    <div class="navigation"></div>
</div>
<script src="@Url.Content("~/Scripts/jquery.efvt.video.js")" type="text/javascript"></script>
<script type="text/javascript">
    var prev = '@Model.Previous';
    var next = '@Model.Next';
    var parent = '@Model.Parent';
</script>