@using System.Globalization;
@using efVideoTube.Models;
@model Html5VideoModel
@{
    ViewBag.Title = Model.Title;
    CultureInfo defaultLang = Model.SubtitleLanguages.Values.GetDefaultLanguage();
}

<div class="playerContainer">
    <video controls autoplay src="@Model.Url">
    @foreach (var subLang in Model.SubtitleLanguages) {
        <track kind="subtitles" src="@Url.Action(Global.ActionName.Subtitle, subLang.Key.GetRouteValues())"
            srclang="@subLang.Value.IetfLanguageTag" label="@subLang.Value.NativeName" @(subLang.Value == defaultLang ? "default" : string.Empty) />
    }
    </video>
    <div class="navigation">
        <p>
            Video Size:<br />
            <input id="videoSizeFit" class="videoSize" name="videoSize" type="radio" value="fit" />
            <label for="videoSizeFit">Fit to window</label>
            <input id="videoSizeKeep" class="videoSize" name="videoSize" type="radio" value="keep" />
            <label for="videoSizeKeep">Keep original</label>
        </p>
    </div>
</div>

@section scripts {
    <script src="@Url.Content("~/Scripts/jquery.efvt.video.js")" type="text/javascript"></script>
    <script type="text/javascript">
        var prev = '@Model.Previous';
        var next = '@Model.Next';
        var parent = '@Model.Parent';
    </script>
}