@using efVideoTube.Models;
@using PureLib.Common;
@model ListModel
@{
    ViewBag.Title = Model.Current.IsNullOrEmpty() ? "List" : Path.GetFileName(Model.Current);
}

<h2>List</h2>

@if (!Model.Current.IsNullOrEmpty()) {
    <p>
        @Html.ActionLink("Back", Global.ActionName.Index, Path.GetDirectoryName(Model.Current).GetRouteValues())
        Location: @Model.Current
    </p>
}

<table>
    @foreach (string f in Model.Folders) {
        <tr>
            <td>@Html.ActionLink(Path.GetFileName(f), Global.ActionName.Index, f.GetRouteValues())</td>
        </tr>
    }
</table>
<br />
<table>
    @foreach (string f in Model.Files) {
        <tr>
            <td>
                @if (f.GetVideoPlayer().HasValue) {
                    @Html.ActionLink(Path.GetFileName(f), Global.ActionName.Player, f.GetRouteValues())
                }
                else {
                    <a href="@Request.GetMediaUrl(f)">@Path.GetFileName(f)</a>
                }
            </td>
        </tr>
    }
</table>

