@using efVideoTube.Models;
@using PureLib.Common;
@model ListModel
@{
    ViewBag.Title = Model.Current.IsNullOrEmpty() ? "Home" : Path.GetFileName(Model.Current);
}

<h2>List</h2>

@if (!Model.Current.IsNullOrEmpty()) {
<p>
    Location: @Model.Current
    <br />
    @Html.ActionLink("Back", Global.ActionName.Index, Path.GetDirectoryName(Model.Current).GetRouteValues())
</p>
}

<table>
@foreach (string f in Model.Folders) {
    <tr>
        <td>@Html.ActionLink(Path.GetFileName(f), Global.ActionName.Index, f.GetRouteValues())</td>
    </tr>
}
</table>
<br />
<table>
@foreach (FileModel f in Model.Files) {
    <tr>
        <td>@Html.ActionLink(Path.GetFileName(f.Path), Global.ActionName.Play, f.Path.GetRouteValues())</td>
        <td class="right">@f.Size.ToFriendlyString()</td>
        @if (f.Path.CanExtract()) {
            <td>@Html.ActionLink("Audio", Global.ActionName.Play, f.Path.GetRouteValues(true))</td>
        }
    </tr>
}
</table>
