@using efVideoTube.Models;
@model VideoModel
@{
    Layout = null;
    string defaultLang = SubtitleLanguageParser.DefaultLanguage;
    if (Model.SubtitleLanguages.Count == 1) {
        defaultLang = Model.SubtitleLanguages.Single().Value;
    }
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@Path.GetFileName(Model.Video)</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
</head>
<body>
    <div>
        <video controls autoplay src="@Url.Action(Global.ActionName.Media, Model.Video.GetRouteValues())">
        @foreach (var subLang in Model.SubtitleLanguages) {
            <track kind="subtitles" src="@Url.Action(Global.ActionName.Subtitle, subLang.Key.GetRouteValues())"
                srclang="@subLang.Value" label="@subLang.Value" @(subLang.Value == defaultLang ? "default" : string.Empty) />
        }
        </video>
    </div>
</body>
</html>

